@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bree+Serif&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Righteous&family=Unbounded:wght@200..900&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('background-image.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #333; /* Default text color */
}

p{
    font-family: "Raleway", sans-serif;
}
h1{
    font-size: 50px;
    color: #bf6d56;
    /* font-family: "Lobster", sans-serif; */
    /* font-family: "Abril Fatface", serif; */
    /* font-family: "Lilita One", sans-serif; */
    /* font-family: "Unbounded", sans-serif; */
    font-family: "Righteous", sans-serif;
    letter-spacing: 4px;
}
h2{
    font-family: "Righteous", sans-serif;
    color: #bf6d56;
    font-size: 30px;
}

#title{
    font-size: 70px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    padding: 5%;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    color: #bf6d56;
    font-style: normal;
    border-radius: 20px;
    border: 3px solid #bf6d56;
}

.hero{
    position: relative;
    height: 95vh;
    overflow: hidden;
}

.centered {
    text-align: center;
}

.content {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
    padding: 5%;
    margin: 20px auto; /* Center content horizontally */
    max-width: 800px; /* Set maximum width for content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
    border-radius: 20px;
    font-size: 18px;
}


.navbar {
    overflow: hidden;
    background-color: #eef4f4;
    position: sticky;
    bottom: 0; /* Stick to the bottom */
    width: 100%;
    font-family: "Raleway", sans-serif;
    /* border-bottom: 2px solid #bf6d56;
    border-top: none; */
}

.navbar a, svg {
    color: #bf6d56;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

.navbar a.logo {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.navbar a.right, svg {
    float: right;
}

.navbar a.right:not(:last-child) {
    margin-right: 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar a.active {
    font-weight:bold;
}

a{
    font-family: "Raleway", sans-serif;
    color: #bf6d56;
}

/* subpage image styling */
img{
    margin-bottom:20px;
}
.tourism{
    float: right;
    margin-left: 20px;
}

.fishing{
    float:left;
    margin-right: 20px;
}

.climate-change{
    float: right;
    margin-left: 20px;
}

.pollution{
    float: right;
    margin-left: 20px;
}

.shark{
    float:left;
    margin-right: 20px;
}

.turtle{
    float: right;
    margin-left: 20px;
}

.coral{
    float:left;
    margin-right: 20px;
    margin-bottom:30px;
}

/* FOOTER  */

.footer {
    background-color: #eef4f4;
    color: #a65e4a;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer p {
    margin: 5px 0;
  }


/* DROPDOWN MENU FOR SMALLER SCREEN SIZES */
.sidebar{
    position: fixed;
    top: 0; 
    right: 0; 
    height: 40vh; 
    width: 40vw;
    z-index: 999;
    background-color:  #eef4f4a9;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
}

.sidebar li{
    width: 100%;
}

#sidebar{
    z-index: 999;
}

svg{
    fill:  #bf6d56;
}

.menu-button{
    display: none;
}

@media(max-width: 840px){
    .hideOnMobile{
        display: none;
    }

    .menu-button{
        display: block;  
    }

    .menu-button:hover{
        display: block;  
        background-color: rgb(153, 152, 152);
    }

    .close-button:hover{
        background-color: rgb(153, 152, 152);
    }
}