header{
    margin-bottom: 3rem;
}

p{
    line-height: 1.6;;
}

.see-all{
    font-size: 0.8em;
    text-transform: uppercase;
}


.shows h1{
    font-size: 2.5rem;
}

section h2{
    font-size:1rem;
    text-transform: uppercase;
}

.shows h1, .shows h2{
    font-weight: lighter;
}

img{
    width:100%;
}

.cast li{
    width:25%
}

#game-of-thrones, #unbreakable-kimmy-schmidt{
    border-top: 1px solid black;
}

.selected a{
    font-weight:bold;
    color: black;
}

.cast li div:first-of-type{
    font-size: 0.8rem;
    font-weight: bold;
}



.cast li div:nth-child(3) {
    font-style: italic;
}
.seasons li:nth-child(9)::after {
    content: "*";
}
#game-of-thrones .seasons ul:after {
    content: "* Final Season";
    display: block;
    font-size: 0.7rem;
    color: #999;
}